<h1>Nuevo Material</h1>
<%= render 'form', material: @material %>
<%= link_to 'Volver', recycler_path(@recycler), class: "btn btn-secondary" %>

<!-- app/views/materials/edit.html.erb -->
<h1>Editar Material</h1>
<%= render 'form', material: @material %>
<%= link_to 'Volver', recycler_path(@recycler), class: "btn btn-secondary" %>